/* MOBILE */
@media screen and (max-width: 768px) {
    /* Navigation */
    nav a {
    }
    .imagem {
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
    img {
        display: none;
    }

    /* Habilidades */
    .item > div {
        flex: 1 1 100%; 
        min-width: 100%;
    }

    /* Login */
    .tx-title {
        font-size: 1.5em; 
    } 
    .formulario {
        padding: 15px;
    }
    .tx-title { 
        font-size: 1.2em; 
    } 
    .campo input,
    .campo textarea {
        font-size: 0.9em;
    }
    #txbt {
        font-size: 0.9em;
    }
    .footer-top, .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .footer-logo {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-links a {
        margin: 0 0 5px 0;
    }

    .footer-contact p {
        font-size: 13px;
    }

    .footer-divider {
        margin: 20px 0;
    }

    .social-icon {
        font-size: 20px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) {

    /* Info */
    .info .section-1 h1 {
        font-size: 2em;
    }
    section .info .section-1 h3 {
        font-size: 1.9em;
    }

    /* Habilidades */
    .item > div {
        flex: 1 1 45%; 
        max-width: 45%;
    }

    /* Sobre Mim & Projeto */
    .pro .projeto > div {
        width: 600px;
    }
    .footer-container {
        padding: 0 15px;
    }

    .footer-links a {
        font-size: 14px;
    }

    .footer-info p {
        font-size: 12px;
    }

    .footer-contact p {
        font-size: 12px;
    }
}