/* MOBILE */
@media screen and (max-width: 768px) {
    /* Navigation */
    nav a {
        display: none;
    }
    .imagem {
        display: none;
    }
    img {
        display: none;
    }

    /* Footer */
    footer .footer-item {
        flex-direction: column;
        text-align: center;
        padding: 60px 5% 20px 5%;
    }

    footer .bt-social {
        margin-bottom: 20px;
    }

    footer #copyright {
        font-size: 18px;
    }

    /* Habilidades */
    .item > div {
        flex: 1 1 100%; 
        min-width: 100%;
    }

    /* Login */
    .tx-title {
        font-size: 1.5em; 
    } 
    .formulario {
        padding: 15px;
    }
    .tx-title { 
        font-size: 1.2em; 
    } 
    .campo input,
    .campo textarea {
        font-size: 0.9em;
    }
    #txbt {
        font-size: 0.9em;
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    /* Header */
    header #mobile-btn {
        display: none;
    }
    #mobile-menu {
        display: none;
    }

    /* Info */
    .info .section-1 h1 {
        font-size: 2em;
    }
    section .info .section-1 h3 {
        font-size: 1.9em;
    }

    /* Habilidades */
    .item > div {
        flex: 1 1 45%; 
        max-width: 45%;
    }

    /* Sobre Mim & Projeto */
    .pro .projeto > div {
        width: 600px;
    }
}